<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<array>
		<string></string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>NewSpirit-Semibold.otf</string>
		<string>NewSpirit-Bold.otf</string>
		<string>NewSpirit-Medium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
